<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" tabindex="-1">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/personal-notes" tabindex="-1">Personal Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/labour-management" tabindex="-1">Labour Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accounting" tabindex="-1">Accounting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentals" tabindex="-1">Rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mileage" tabindex="-1">Mileage</a>
        </li>
      </ul>
    </div>
  </nav>
