<h4 class="text-muted">
    <span><i style="cursor: pointer;" (click)="goBack()" class="fas fa-arrow-circle-left"></i></span>
    Add Vehicle <div *ngIf="isLoading" class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
</div></h4>
<hr>
<!-- Form -->
<form [formGroup]="addNewVehicleForm">
<div class="form-group">
    <label for="">Vehicle Name</label>
    <input class="form-control" type="text" formControlName="vehicleName">
</div>
<div class="form-group">
    <label for="">Vehicle Number</label>
    <input class="form-control" type="text" formControlName="vehicleNumber">
</div>
<label for="">FC Date</label>
<div class="input-group">                    
    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="fcDate" ngbDatepicker #fcDateVal="ngbDatepicker">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="fcDateVal.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
    </div>
</div><br>
<label for="">Insurance Date</label>
<div class="input-group">                    
    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="insuranceDate" ngbDatepicker #insuranceDateVal="ngbDatepicker">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="insuranceDateVal.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
    </div>
</div>
<div class="form-group jumbotron mt-3 mb-2" formArrayName="properties">
    <h5>Properties <i style="cursor: pointer;" class="fas fa-plus-circle" (click)="addProperty()"></i></h5>
    <div *ngFor="let property of getProperties(); let i=index">
        <div [formGroupName]=i>
            <p for=""><i *ngIf="showDeleteButton()" style="cursor: pointer;" (click)="deleteProperty(i)" class="far fa-times-circle"></i> Property {{i+1}}</p>
            <div class="row">
                <div class="col-7">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input class="form-control" type="text" formControlName="property">
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="">Price (&#8377;)</label>
                        <input class="form-control" type="number" pattern="[0-9]*" formControlName="price">
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <!-- <button class="btn btn-info btn-small mt-2" (>Add new property</button> -->
</div>
<div *ngIf="showSuccessMsg" class="alert alert-success" role="alert">
    <strong>New vehicle is added!</strong>
</div>
<button class="btn btn-info mb-2" (click)="saveVehicle()" [disabled]="!addNewVehicleForm.valid">Save Vehicle</button>
</form>
<!-- Form -->