<h4 class="text-muted">
    <span><i style="cursor: pointer;" (click)="goBack()" class="fas fa-arrow-circle-left"></i></span> 
    Manage {{sourceData?.name}}'s Accounts 
    <br>   
    <hr>     
</h4>

<div class="form-group">
    <label>Advance</label>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">&#8377;</span>
        </div>
        <input type="number" pattern="[0-9]*" name="labourAdvance" class="form-control" placeholder="Enter advance amount" value="{{sourceData?.advance}}" [(ngModel)]="sourceAdvance">
      </div> 
    <button class="btn btn-info mt-2" [disabled]="sourceData?.advance == sourceAdvance">Update Advance</button>
</div>

<!-- Modal Popup -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#staticBackdrop">
    Add New Record
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form -->
            <form>

            </form>
          <!-- Form -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Canel</button>
          <button type="button" class="btn btn-success">Save Record</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal Popup -->