<h4 class="text-muted"><i (click)="goBack()" style="cursor: pointer;" class="fas fa-arrow-circle-left text-secondary"></i> Manage {{labourData?.labourName}}'s Salary & Attendance</h4>
<div class="row">
  <div class="col-6">
    <button (click)="addAttendance()" class="btn btn-info" [disabled]="!attendanceState">Add Attendance</button>
  </div>
  <div class="col-6">
    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">Add Proxy</button>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-6">
    <h6>Fixed Salary: &#8377;{{labourData?.salary}}</h6>
    <h6>Balance to pay labour: &#8377;{{balanceAmount}}</h6>
  </div>
  <div class="col-6">
    <h6>Advance Given: 
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">&#8377;</span>
        </div>
        <input type="number" pattern="[0-9]*" name="labourAdvance" class="form-control" placeholder="Enter advance amount" value="{{labourData?.advance}}" [(ngModel)]="labourAdvance">
      </div> 
      <button class="btn btn-info mr-2" (click)="updateAdvance()">Update Advance</button>
      <span style="cursor: pointer;" class="badge badge-secondary" *ngIf="labourData?.advance!=0" (click)="clearAdvance()">Zero out advance</span>
    </h6>
  </div>
</div>
<hr>
<div *ngIf="attendanceList?.length!=0; else noAttendanceList">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Present Dates</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of attendanceList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{data?.attendanceDate}}</td>
        <td><button [disabled]="data?.salary" (click)="paySalary(data?.id)" class="btn btn-info">Pay Salary</button></td>
      </tr>
    </tbody>
</table>
</div>
<ng-template #noAttendanceList>
  <h5>No attendance details found for {{labourData?.labourName}}</h5>
</ng-template>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Proxy Attendance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="selectedProxyDate" [(ngModel)]="selectedProxyDate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addProxyAttendance()" [disabled]="selectedProxyDate == undefined">Add</button>
      </div>
    </div>
  </div>
</div>
