<div class="container">
    <div class="jumbotron">
        <div class="row">
            <!-- Welcome note -->
            <div class="col-6">
                <h3><span class="text-muted">Welcome,</span> {{currentUserName}}</h3>
                <button class="btn btn-outline-secondary" (click)="signOut()">Logout</button>
            </div>
            <!-- Profile picture -->
            <div class="col-6">
                <img src="{{currentUserImgUrl}}" class="rounded-circle float-right" alt="..." style="width: 75px; height: 75px;">
            </div>
        </div>
    </div>
    <!-- Remainders Section -->
    <h4>Remainders</h4> 
    <hr>
    <div *ngIf="remainderList.length > 0; else noRemainders">
        <ul>
            <li *ngFor="let remainder of remainderList">{{remainder.title}} | <a (click)="updateRemainder(remainder.id)" class="badge badge-secondary text-light">Mark as done</a></li>
        </ul>
    </div>
    <ng-template #noRemainders>
        <p>Nothing to show for now.</p>
    </ng-template>
    <!-- Remainders Section -->
    <h4>Settings</h4>   
    <hr>
    <ul>
        <li><a routerLink="/manage-vehicles">Manage Vehicles</a></li>
        <li>
            <label for="">Set default Driver fees (&#8377;)</label>
            <div class="input-group">
                <input type="text" class="form-control col-6" [(ngModel)]="driverFee">
                <button class="btn btn-secondary ml-2" (click)="updateDriverFee()"><i class="fas fa-cloud-upload-alt"></i></button>
            </div>
        </li>
    </ul>
</div>
